/lab2/employee manager/nbproject/private/
/lab2/employee manager/build/
/lab2/login_/nbproject/private/
/lab2/login_/build/
/lab2/UserMangement/nbproject/private/
/lab2/UserMangement/build/
/lab3/Bai1/nbproject/private/
/lab3/Bai1/build/
/lab4/Bai1/nbproject/private/
/lab4/Bai1/build/
/lab4/Bai3/nbproject/private/
/lab5/Bai1/nbproject/private/
/lab5/Bai1/build/
/bai2/nbproject/private/
/test/nbproject/private/
/test/build/
/bai2/build/
/lab6/bai3/nbproject/private/
/lab6/bai3/build/
/lab6/Bai4/nbproject/private/
/lab6/Bai4/build/
/lab7/Bai1/nbproject/private/
/lab7/Bai1/build/
/lab7/Bai2/nbproject/private/
/lab7/Bai2/build/
/lab7/Bai3/nbproject/private/
/lab7/Bai3/build/
/lab7/Bai4/nbproject/private/
/lab7/Bai4/build/
/lab8/Bai1/nbproject/private/
/lab8/Bai1/build/
/lab8/Bai2/nbproject/private/
/lab8/Bai2/build/
/lab8/Bai3/nbproject/private/
/lab8/Bai3/build/
/lab8/Assiment/nbproject/private/
/lab8/Assiment/build/
/lab8/Lab7_LiThuyet/nbproject/private/
/lab8/Lab7_LiThuyet/build/
/lab8/lab7_b/nbproject/private/
/lab8/lab7_b/build/
