/lab2/employee manager/nbproject/private/
/lab2/employee manager/build/
/lab2/login_/nbproject/private/
/lab2/login_/build/
/lab2/UserMangement/nbproject/private/
/lab2/UserMangement/build/
/lab3/Bai1/nbproject/private/
/lab3/Bai1/build/
